a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  width: auto;
}

nav {
  box-shadow: 2px 0 10px #0052d4;
}

.container {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  background: #ffffff;
  width: 100%;
  min-height: 45px;
  height: auto;
}

.container .containerLeft {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid #0052d4;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(164, 164, 164, 0.128);
  margin-left: 1rem;
}

.container .containerLeft span {
  font-size: 2rem;
  font-weight: bold;
}

.container .containerLeft span:nth-child(1) {
  color: blue;
}

.container .containerLeft span:nth-child(2) {
  color: red;
}

.container .containerLeft span:nth-child(3) {
  color: yellow;
}

.container .containerLeft span:nth-child(4) {
  color: green;
}

.container .containerLeft li a {
  color: #0052d4;
  font-weight: 500;
  margin: 1rem;
}

.container .containerLeft li:hover {
  color: red;
}

.container .containerRight {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-left: 1rem;
  gap: 15px;
}

.menuBar {
  padding: 1rem 0;
  border: none;
  background: #0052d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: auto;
}

.menuBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.menuBar ul li:hover {
  opacity: 0.6;
}

.menuBar ul li a {
  font-weight: 100;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
